.loading {
                display: none;
            }
            .accordion {
               
                width:  100%;
            }
               
                .accordion li h3 {
                    margin:         0;
                    padding:        0;
					font-size:14px;
					line-height:18px;
                }
                .accordion .panel {
                    padding:        10px;
                }
				ul.accordion   {list-style:none !important; padding:0; margin:0;}
				ul.accordion  li{margin:5px 0;}
				.sinumber{color:#000; display:inline-block; }
			 .accordion li h3 a {
                    background:             #666;
                 
                    color:                  #fff;
                    display:                block;
                    font-style:             normal;
                    margin:                 0;
                    padding:                5px 10px;
                   
                }
				 .accordion li h3 a:hover, .accordion li h3 a:active, .accordion li h3 a:focus{text-decoration:none;}
                    .accordion li.active h3 a {
                        background:             #369;
                       
                       
                    }
                    .accordion li.locked h3 a {
                        background:             #963;
                       
                       
                    }
                .accordion li h3 {
                    margin:         0;
                    padding:        0;
                }